/autom4te.cache
/*.m4
/*.log
/.qmake*
/.vscode
/file*xml*
/Makefile*
/missing
/out.perf
/perf.data
/test-driver
/install-sh
/gmon.out
/depcomp
/configure
/config.status
/compile
/data/*
/build/*
/bin/ccruncher-*
.deps
.dirstamp
stamp-h1
/doc/tex/*.aux
/doc/tex/*.bbl
/doc/tex/*.blg
/doc/tex/*.gl*
/doc/tex/*.ist
/doc/tex/*.log
/doc/tex/*.out
/doc/tex/*.pdf
/doc/tex/*.toc
/doc/ccruncher.pdf

!/data/readme
!/build/ccruncher.spec
