/*
	CCruncher CSS 
	http://www.w3schools.com/css/css_navbar.asp
	http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu
*/

html,body {
	padding: 0px;
	margin: 0px;
	background: #BABBAD;
	font: normal 90% verdana,arial,sans-serif;
	line-height: 1.5;
	color: black;
	height: 100%;
}

#container {
	max-width: 960px;
	min-height: 100%; 
	margin: 0 auto;
	clear: both;
	padding: 0.5em 1em 0.5em 1em;
	background-color: white;
}

#header {
	background: #005080;
	height: auto;
	width: 100%;
	border-radius: 7px 7px 0px 0px;
	display: table; 
	color: white; 
}

#header .cell {
	display: table-cell;
	vertical-align: middle;
}

#header .title {
	font-size: 250%; 
	color: white; 
	text-decoration: none; 
	border-right: solid 3px red; 
	padding-right: 0.3em; 
	margin-right: 0.5em;
}

#header .subtitle {
	width: 100%; 
	font-size: 150%; 
	line-height: 1.5;
}

#content {
	padding: 0px 1em;
}

#footer {
	margin: 4em 0px 1em 0px;
	background: #E0E0E0;
	border-radius: 5px;
	font-size: smaller;
	line-height: 4em;
	height: 4em;
	width: 100%;
	text-align: center;
}

#footer #copyright {
	white-space: nowrap;
	width: 75%;
}

#footer #modified {
	float: right;
	white-space: nowrap;
	font-weight: bold;
	padding-right: 1em;
}

#navbar {
	background: #005080;
	width: 100%;
	border-radius: 0px 0px 7px 7px;
	text-align: left;
	border-top: 1px solid #eee;
}

#navbar ul {
	font-weight: bold;
	border-radius: 3px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
}

#navbar ul:after {
	content: "";
	clear: both;
	display: block;
}

#navbar ul li {
	float: left;
}

#navbar ul a:link, 
#navbar ul a:visited {
	display: block;
	color: #FFFFFF;
	background-color: #005080;
	text-align: center;
	padding: 4px;
	width: 150px;
	text-decoration: none;
}

#navbar ul a:hover, 
#navbar ul a:active {
	background-color: #3366aa;
}

#navbar ul li:hover > ul {
	display: block;
}

#navbar ul li a {
	background-color: #005080;
	color: #FFFFFF;
}

#navbar ul ul {
	display: none;
	background: #5f6975; 
	border-radius: 0px 0px 5px 5px;
	padding: 0;
	position: absolute; 
	top: 100%;
	overflow: hidden;
	margin: 0;
}

#navbar ul ul li {
	float: none;
	position: relative;
}

#navbar ul ul li a {
	font-weight: normal;
	padding: 15px 40px;
	background-color: #005080;
	color: #FFFFFF;
}

h1 {
	font-size: 150%;
	color: #005080;
}

h2 {
	font-size: 120%;
	color: #005080;
}

h3 {
	font-size: 100%;
	font-weight: bold;
	color: black;
}

p {
	text-align: justify;
}

div.gray-box {
	margin: 30px 0px 0px 0px;
	font-weight: bold;
	color: #333333;
	background: #E0E0E0;
	width: 100%;
	line-height: 2.2em;
	padding-left: 5px;
}

tr.even, 
tr.a {
	color: black;
	background-color: #ddd;
}

tr.odd, 
tr.b {
	color: black;
	background-color: #eee;
}

pre {
	font-family: monospace;
	margin: 0;
	padding-left: 2em;
	color: black;
	background-color: #ddd;
	border: 1px solid #ddd;
	overflow-x: auto;
}

code {
	font-family: monospace;
}

img {
	border: 0;
}

@media all {
	.page-break { 
		display: none;
	}
}

@media print {
	.page-break { 
		display: block;
		page-break-before: always; 
	}
}
